backports.entry-points-selectable==1.1.0
bidict==0.21.2
click==8.0.1
distlib==0.3.2
filelock==3.0.12
Flask==2.0.1
Flask-SocketIO==5.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
pbr==5.6.0
platformdirs==2.2.0
python-engineio==4.2.1
python-socketio==5.4.0
six==1.16.0
stevedore==3.3.0
virtualenv==20.7.0
virtualenv-clone==0.5.6
virtualenvwrapper==4.8.4
Werkzeug==2.0.1
