[includeIf "gitdir:~/desarrollo/leanmind"]
  path = .gitconfig-progessional
[includeIf "gitdir:~/go/src/gitlab.services/crawling"]
  path = .gitconfig-progessional
[includeIf "gitdir:~/"]
  path = .gitconfig-personal

[alias]
	s = status
	ch = checkout
	cm = commit
	a = add
	l = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all

[user]
	email = yodralopez@gmail.com
	name = yodralopez

[core]
	editor = vim
	excludesfile = /Users/yodra/desarrollo/.gitignore_global
	pager = delta

[merge]
  tool = vimdiff

[fetch]
  prune = true

[help]
  autocorrect = 1

[pager]
	branch = false

[delta]
    features = side-by-side line-numbers decorations
    syntax-theme = Dracula
    plus-style = syntax "#003800"
    minus-style = syntax "#3f0001"

[interactive]
    diffFilter = delta --color-only

[init]
	defaultBranch = main
