[alias]
	l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	ld = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph
	ls = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative

	a = add
	ap = add -p
	c = commit --verbose
	ca = commit -a --verbose
	cm = commit -m
	cam = commit -a -m
	m = commit --amend --verbose

	d = diff
	ds = diff --stat
	dc = diff --cached

	s = status
	co = checkout
	cob = checkout -b
	# list branches sorted by last modified
	b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"

	# list aliases
	la = "!git config -l | grep alias | cut -c 7-"

[user]
	email = raul@natol.es
	name = raulanatol
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFTRxj0RMnUpIkHpMdF9MI4GbXpkPQNepuM32XHG9Exl

[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	pager = delta

[commit]
	gpgsign = true

[tag]
	gpgSign = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[merge]
  tool = vimdiff

[fetch]
  prune = true

[help]
  autocorrect = 1

[pager]
	branch = false

[pull]
  ff = only

[delta]
    features = side-by-side line-numbers decorations
    syntax-theme = Dracula
    plus-style = syntax "#003800"
    minus-style = syntax "#3f0001"

[interactive]
    diffFilter = delta --color-only

[init]
	defaultBranch = main

[gpg]
    format = ssh

[gpg "ssh"]
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
