<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.marceloalves.irvue-workflow</string>
	<key>connections</key>
	<dict>
		<key>DCDC3024-25EC-4FE0-976C-4AB49E22B516</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>177AB2CE-EA4B-434B-9E30-3DEBD66F4F0D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Marcelo Alves</string>
	<key>description</key>
	<string>commands for irvue</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>irvue</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "Irvue"		if (q = "all") then
			change all wallpapers
		else if (q = "current") then
			change current wallpaper
		else if (q = "previous") then
			load previous wallpaper
		else if (q = "first") then
			load first wallpaper
		else if (q = "save") then
			save current wallpaper
		end if	end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>177AB2CE-EA4B-434B-9E30-3DEBD66F4F0D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"current","arg":"current","subtitle":"change current wallpaper"},{"title":"all","arg":"all","subtitle":"change all wallpapers"},{"title":"previous","arg":"previous","subtitle":"load previous wallpaper"},{"title":"next","arg":"next","subtitle":"load first wallpaper"},{"title":"save","arg":"save","subtitle":"save current wallpaper"}]</string>
				<key>keyword</key>
				<string>irvue</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>DCDC3024-25EC-4FE0-976C-4AB49E22B516</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>177AB2CE-EA4B-434B-9E30-3DEBD66F4F0D</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>DCDC3024-25EC-4FE0-976C-4AB49E22B516</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
