"*":
  core:
    projectHome: "/home/raulanatol/github"
  editor:
    defaultFontSize: 16
    fontFamily: "JetBrains Mono, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 20
  "exception-reporting":
    userId: "1dafe8f7-3743-4410-9dca-a3b6edfaeb31"
  welcome:
    showChangeLog: false
    showOnStartup: false
